streamlit
# Utilities
numpy
pandas
# FACE RECOGINATION
scikit-learn
dlib-bin
# dlip-20.0.99-cp314-cp314-win_amd64.whl

git+https://github.com/ageitgey/face_recognition_models.git
setuptools<70.0.0

supabase
bcrypt

segno
pillow

librosa
resemblyzer